[project]
	description = A C++11 library for serialization
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ImplOfAnImpl
[access "refs/for/refs/*"]
	read = group user/ImplOfAnImpl
	push = group user/ImplOfAnImpl
	label-Code-Review = -2..+2 group user/ImplOfAnImpl
	label-Verified = -1..+1 group user/ImplOfAnImpl
	rebase = group user/ImplOfAnImpl
	removeReviewer = group user/ImplOfAnImpl
	submit = group user/ImplOfAnImpl
[access "refs/heads/*"]
	read = group user/ImplOfAnImpl
	create = group user/ImplOfAnImpl
	push = +force group user/ImplOfAnImpl
	pushMerge = group user/ImplOfAnImpl
[access "refs/tags/*"]
	push = +force group user/ImplOfAnImpl
	pushTag = group user/ImplOfAnImpl
	pushSignedTag = group user/ImplOfAnImpl
